# {{ ansible_managed }}
[Unit]
Description=kolide server
Requires=redis.service
Wants=mysqld.service
After=redis.service mysqld.service network.target

[Service] 
## no daemon mode
Type=simple
User={{ kolide_user }}
Group={{ kolide_group }}
ExecStart=/usr/bin/fleet serve --config /etc/kolide/kolide.yml
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=kolide
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target